:root {
  --white: rgb(255, 255, 255);
  --arrows: #090446;
  --black-hover: rgba(0, 0, 0, 0.326);
  --red: red;
}





.img-container {
  display: flex;
  position: relative;
  padding: 0.5%;


  margin: center;

  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;

  background-color: rgb(255, 255, 255);


}

.img-container-width {
  transition: 0.5s;
  max-width: 100vh;
}

@media (max-width: 100vh) {
  .img-container-width {
    max-width: 50vh;
    transition: 0.5s;
  }
}

@media (max-width: 50vh) {
  .img-container-width {
    max-width: 25vh;
    transition: 0.5s;
  }
}

.slide {
  border-radius: 20%;
  padding: 15px;
  width: 100px;
  height: 100px;

}

.slide:hover {
  opacity: 0.6;
  transition: scale 1s, padding 1s;
}





.centered {
  position: relative;
  scale: 1.1;
  transition: scale 1s, padding 1s;
}

.left {
  position: relative;
  opacity: 0.5;
  transition: opacity 0.5s;
}

.right {
  position: relative;
  opacity: 0.5;
  transition: opacity 0.5s;
}


.next-btn {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  font-size: 30px;
  font-weight: 800;

  color: var(--arrows);
}

.next-btn:hover {
  color: var(--black-hover);
}

#nextBtn {
  padding: 0 0 0 50px;
}

#prevBtn {
  padding: 0 50px 0 0;
}


#nextBtn:hover,
#nextBtn:active {
  position: relative;
  right: 0px;
  animation-name: bounceRight;
  animation-duration: 1s;
}

#prevBtn:hover,
#prevBtn:active {
  position: relative;
  right: 0px;
  animation-name: bounceLeft;
  animation-duration: 1s;
}

@keyframes bounceRight {
  0% {
    left: 0px;
  }

  50% {
    left: 10px;
  }

  100% {
    left: 0px;
  }


}

@keyframes bounceLeft {
  0% {
    right: 0px;
  }

  50% {
    right: 10px;
  }

  100% {
    right: 0px;
  }

}