:root {
  --gallery: rgb(255, 255, 255);
  --buttons: black;
  --buttons-hover: rgba(0, 0, 0, 0.326);
}



.container {
  display: flex;
}

.img-container {
  display: flex;
  position: relative;
  padding: 0.5%;


  margin: center;

  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;

  background-color: rgb(240, 240, 240);
  border-radius: 10px;

  /* Apply a box shadow with blur to the border */
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);




}

.img-container-width {
  max-width: 100vh;
}

@media (max-width: 100vh) {
  .img-container-width {
    max-width: 50vh;
  }
}

@media (max-width: 50vh) {
  .img-container-width {
    max-width: 25vh;
  }
}

.slide {
  border-radius: 5px;
  padding: 15px;
  width: 100px;
  height: 100px;
}


.centered {
  position: relative;
  scale: 1.1;
  transition: scale 1s, padding 1s;
}

.left {
  position: relative;
  opacity: 0.5;
  transition: opacity 0.5s;
}

.right {
  position: relative;
  opacity: 0.5;
  transition: opacity 0.5s;
}


.next-btn {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  font-size: 30px;
  font-weight: 800;
  color: var(--buttons);


}

.next-btn:hover {
  color: var(--buttons-hover);
}

#nextBtn:hover {
  position: relative;
  right: 0px;
  animation-name: bounceRight;
  animation-duration: 1s;
}

#prevBtn:hover {
  position: relative;
  right: 0px;
  animation-name: bounceLeft;
  animation-duration: 1s;
}

@keyframes bounceRight {
  0% {
    left: 0px;
  }

  50% {
    left: 10px;
  }

  100% {
    left: 0px;
  }


}

@keyframes bounceLeft {
  0% {
    right: 0px;
  }

  50% {
    right: 10px;
  }

  100% {
    right: 0px;
  }

}