@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@600&display=swap");



/** TAILLE NORMAL **/
h3 {
  font-family: Arimo;
  font-weight: 600;
  font-size: 30px;

  display: flex;
  position: relative;

  top: -8em;
  left: 10em;
}

.view {
  position: absolute;
  background-color: white;
  border-radius: 2%;
  top: 25vh;
  left: 10vh;
  padding: 2%;
  border-radius: 50px;
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}

.view-width {
  width: 100vh;
  height: 35em;
  left: 8%;
}

.illustration {
  position: relative;
  padding: 2% 0 0 2%;
  border-radius: 10px;
  width: 250px;
  height: 250px;
}

.description {
  position: relative;
}



/** TAILLE EN DESSOUS DE 110VH **/
@media (max-width: 110vh) {
  .view-width {
    left: 8%;
    width: 75vh;
  }
}


/** TAILLE EN DESSOUS DE 75VH **/
@media (max-width: 75vh) {
  h3 {
    font-family: Arimo;
    font-weight: 600;
    font-size: 22px;

    display: flex;
    position: relative;

    top: 0em;
    left: 0.5em;
  }


  .view-width {
    width: 50vh;
  }

  .illustration {
    position: relative;
    margin: 10px 0 10px 0;
    border-radius: 10px; 
    width: 250px;
    height: 250px;
    left: 6em;
  }
}


/** TAILLE EN DESSOUS DE 50VH **/
@media (max-width: 50vh) {
  h3 {
    font-family: Arimo;
    font-weight: 600;
    font-size: 18px;

    display: flex;
    position: relative;

    top: 0em;
    left: 0.5em;
  }

  .view-width {
    left: 5vh;
    width: 40vh;
  }

  .illustration {
    position: relative;
    border-radius: 10px;
    margin: 10px 0 10px 0;
    width: 200px;
    height: 200px;

    left: 5em;
  }
}
